DATABASE_URL="postgresql://PGUSER:PGPASSWORD@ep-restless-unit-acdxo1ff-pooler.sa-east-1.aws.neon.tech/TCC?sslmode=require&channel_binding=require"

JWT_ACCESS_SECRET = "senhamuitoforte";
JWT_ACCESS_EXPIRES_IN = 15m;
JWT_REFRESH_SECRET = "senhamuitoforte2";
JWT_REFRESH_EXPIRES_IN = 7d;