@import "tailwindcss";

/* ===== SEU DESIGN SYSTEM COM @theme ===== */
@theme {
  /* Cores */
  --color-primary: #0A2647;
  --color-primary-strong: #041529;
  --color-primary-light: #1A3A6B;
  --color-background: #F2F2F2;
  --color-border: #CCCCCC;
  
  --color-success: #2A941F;
  --color-success-strong: #15570e;
  --color-success-hover: #1b6914;
  --color-success-light: #9bcf97;
  
  --color-danger: #FF3131;
  --color-danger-strong: #4d0909;
  --color-danger-hover: #851515;
  --color-danger-light: #FFC9C9;
  
  /* Arredondamentos */
  --radius-btn: 6px;
  
  /* Fontes */
  --font-family-sans: 'Inter', 'Roboto', sans-serif;
  
  /* Tamanhos de fonte */
  --font-size-title: 24px;
  --font-size-section: 18px;
  --font-size-body: 14px;
  --font-size-highlight: 20px;
}